@model CreateOrderModel

<h1>Place Delivery Order</h1>
<br />
<style>
   label {
        font-weight: bold;
    }

</style>
<h4>Step 1: Enter the size and weight of the delivery</h4>
<p>The package must be <b>no more than</b> 1.5 cubic meters in volume and 50 Kg in weight.</p>

<form action="/Orders/Create" method="post">

    <label asp-for="Length">Length:</label>
    <input asp-for="Length" value="1" type="number" autocomplete="off">
    <span asp-validation-for="Length" class="text-danger"></span>

    <label asp-for="Width">Width:</label>
    <input asp-for="Width" value="1" type="number" autocomplete="off">
    <span asp-validation-for="Width" class="text-danger"></span>

    <label asp-for="Height">Height:</label>
    <input asp-for="Height" value="1" type="number" autocomplete="off">
    <span asp-validation-for="Height" class="text-danger"></span>
    <br><br>
    <label asp-for="Weight">Weight:</label>
    <input asp-for="Weight" value="1" type="number" autocomplete="off">
    <span asp-validation-for="Weight" class="text-danger"></span>
    <br><br><br />

<h4>Step 2: Enter the pickup and dropoff delivery locations</h4>
<p>Must be valid postal addresses in the <b>Greater Toronto Area</b></p>
    <label asp-for="PickupAddress">Pickup Address:</label>
    <input asp-for="PickupAddress" type="text" id="pickupAddress" autocomplete="off" />
    <br><br>
    <label for="dropoffAddress">Dropoff Address:</label>
    <label asp-for="DropoffAddress">Drop-off Address:</label>
    <input asp-for="DropoffAddress" type="text" id="dropoffAddress" autocomplete="off" />
    <br><br>
    <button type="submit">Get Quote</button>

<br />
<h4>Step 3: Review the delivery order details</h4>
<p>If you accept the cost and details of the order, then proceed with the delivery order</p>

    <label for="cost">Delivery Distance:</label>
    <label for="calcCost" style="color:#6aa84f;">SHOW FLIGHT DISTANCE</label><br>
    <label for="rate">Rate:</label>
    <label for="rate" style="color:#6aa84f;">SHOW RATE ($/km)</label><br>
    <label for="rate">Total Cost:</label>
    <label for="rate" style="color:#f44336;">SHOW COST, DISTANCE x RATE</label><br><br>
    <input type="button" onclick="window.location.href='/Home/Track'" value="Submit Order">
    <input type="button" onclick="window.location.reload()" value="Start Over">
</form>

@section Scripts {

    <script type="text/javascript">
    //function checkDimensions() {
    //    let l = document.getElementById("length").value
    //    let w = document.getElementById("width").value
    //    let h = document.getElementById("height").value
    //    let m = document.getElementById("weight").value
    //    //  Check size and weight of package
    //    if (l*w*h > 1.5) {
    //        alert("Package dimensions are too large (1.5 cubic meters MAX)")
    //    }
    //    else if (m > 50) {
    //        alert("Package is overweight (50 Kg MAX)")
    //    }   
    //    else {
    //        document.getElementById("pickupAddress").disabled = false
    //        document.getElementById("dropoffAddress").disabled = false
    //    }
    //}

    $(function () {
        
        var addresses = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: "/Orders/FindAddress?query=%QUERY",
                wildcard: '%QUERY',
                transform: function (response) {
                    return $.map(response, function(address) {
                        return address
                    })
                }
            },
            limit: 10
        });


        $('#pickupAddress').typeahead({
          highlight: true,
        },
        {
          source: addresses,
          limit: 10
        });

        $('#dropoffAddress').typeahead({
          highlight: true,
        },
        {
          source: addresses,
          limit: 10
        });


    });

</script>

}


